html, body { height: 100%; }

.container { width: 100%; border: 1px; }
.clearBoth { clear:both; }
.field_titles { background-color: #5F9EA0; color: #FFF; }
.full-height { height: 100%; }

div.fields_inline { float:left; }

tr.data:nth-child(even) { background-color: #CCC; }
tr.data:nth-child(odd) { background-color: #EEE; }